body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#all-reviews {
  padding-top: 50px;
}

.review {
  margin: 20px;
  padding: 20px;
  border: 1px#ccc solid;
  background-color: #eee;
  border-radius: 10px;
}

.label-bold {
  font-weight: bold;
}

.topper {
  text-align: center;
}
